# Input Materials (Business Logic & Data)
_input_materials/

# System
.DS_Store
Thumbs.db

# Dependencies
node_modules/
.venv/
__pycache__/

# Environment
.env
.env.local
*.env
.env.*
dockploy_env.txt
dockploy_env.txt*

# IDE
.vscode/
.idea/

# Build
.next/
dist/
build/
.env

# Data & Scrapers
apps/backend/scripts/scraper_*.py
*.json
*.csv
*.xls
*.xlsx
apps/backend/data/

# Scraped Assets (Allow placeholders)
# apps/frontend/public/images/products/*
# !apps/frontend/public/images/products/.gitkeep
# !apps/frontend/public/images/products/placeholder_russtanko.jpg

# GGShield
.cache_ggshield
